*{
    color: brown;
}
.weather_area{
    border-radius: 25px;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bd95b3;
    background-image: url("https://c0.wallpaperflare.com/preview/888/665/86/background-blue-calm-gradients.jpg");
   
}