/* render row component */
.popupSearch_row {
    height: 50px;
    width: 90%;
}

.popupSearch_row:hover {
    background-color: rgba(150, 146, 146, 0.3);
    cursor: pointer;
}

.popupSearch_row_col {
    margin: auto;
}

.popupSearch_image {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.popupSearch_name {
    font-size: 17px;
    margin: auto;
    font-weight: bolder;
}